/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f6f4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
