:host {
  flex: 0 0 100px;
  padding: 0 10px;
  position: relative;
}

.message-input {
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #c8c8c8;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;

  &:focus-visible {
    outline: 1px solid #aaaaaa;
  }
}

.send-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #2f7d93;
  color: white;

  &:disabled {
    cursor: default;
    background-color: #aaaaaa;
    color: grey;
  }
}
